https:/markbook.com/studio/ @supabase/Dashboard
https:/markbook.com/apps/www/ @supabase/Website
https:/markbook.com/apps/docs/ @supabase/docs
https:/markbook.com/spec/ @supabase/docs
https:/markbook.com/docker/ @supabase/cli
